@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common Styling */
body {
  font-family: "Arvo", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #7a0000;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Title Styling */
.title {
  text-align: center;
  margin-bottom: 10px;
}

.title h1 {
  font-family: "Dancing Script", cursive;
}

.title h2 {
  font-family: "Dancing Script", cursive;

}

.title h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;

}




/* Responsive Media Queries */
@media (max-width: 900px) {
  .imgi, .top-right-decoration, .top-left-decoration { max-width: 30%; }
}



/* Decorations */
.top-right-decoration, .top-left-decoration {
  position: absolute;
  top: 0;
}

.top-right-decoration { right: 0; }
.top-left-decoration { left: 0; }
